.form-background {
  background-color: #f8f5f0;
}

.navbar-form {
  padding-right: 0;
}

.button-row {
  display: block;
}

a, a:visited, a:focus {
  color: #98978b
}

@media (max-width: 800px) {
  a {
    display: block;
    text-align: center;
  }
  li {
    background-color: white;
  }
}