<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Referendus</a>
    </div>
    <div [collapse]="isCollapsed" id="navControls">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="(loggedIn$ | async)">
          <a (click)="openModal()" class="btn btn-default">New</a>
        </li>
        <li *ngIf="(loggedIn$ | async)">
          <a (click)="copy()" class="btn btn-default">Copy</a>
          <span *ngIf="copyAlert.msg" class="alert-warning">{{ copyAlert.msg }}</span>
        </li>
        <li *ngIf="(loggedIn$ | async)">
          <app-nav-format></app-nav-format>
        </li>
        <li class="">
          <app-nav-auth></app-nav-auth>
        </li>
      </ul>
    </div>
  </div>
</nav>