<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Referendus</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Copy</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o" aria-hidden="true"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div id="login-dropdown">
                <div class="col-md-12">
                  <form *ngIf="!(loggedIn$ | async)" (submit)="login($event, username.value, password.value)" class="form" role="form" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                      <label class="sr-only" for="username">Username</label>
                      <input type="text" class="form-control" id="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <div class="signin-message"></div>
                      <button (click)="login($event, username.value, password.value)" class="btn btn-primary btn-block">Sign In</button>
                      <button (click)="signup($event, username.value, password.value)" class="btn btn-success btn-block" id="signup">Sign Up</button>
                    </div>
                  </form>
                  <div *ngIf="loggedIn$ | async" class="form-group" id="logout">
                    <button (click)="signout($event)" class="btn btn-primary btn-block" id="signout">Sign Out</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Format <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="." (click)="setAPAFormat()"><i class="fa fa-check" *ngIf="(apaFormat$ | async)" aria-hidden="true"></i>APA</a></li>
            <li><a routerLink="." (click)="setChicagoFormat()"><i class="fa fa-check" *ngIf="(chicagoFormat$ | async)" aria-hidden="true"></i>Chicago/Turabian</a></li>
            <li><a routerLink="." (click)="setMLAFormat()"><i class="fa fa-check" *ngIf="(mlaFormat$ | async)" aria-hidden="true"></i>MLA</a></li>
          </ul>
        </li>
        <li><a href="#">New</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search Tags...">
          </div>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--
<md-toolbar color="primary" class="nav-toolbar">
  <span>Referendus</span>
  <span class="example-fill-remaining-space"></span>
  <button md-raised-button (click)="new()">New</button>
  <button md-raised-button [mdMenuTriggerFor]="formatMenu">Format</button>
  <button md-raised-button (click)="copy()">Copy</button>
  <button md-raised-button [mdMenuTriggerFor]="searchMenu">Search</button>
  <button md-raised-button [mdMenuTriggerFor]="authMenu">Account</button>
</md-toolbar>

<md-menu #authMenu="mdMenu" yPosition="below" class="nav-menu">
  <app-nav-auth></app-nav-auth>
</md-menu>

<md-menu #formatMenu="mdMenu" yPosition="below" class="nav-menu">
  <a md-menu-item routerLink="." (click)="setAPAFormat()"><i class="fa fa-check" *ngIf="(apaFormat$ | async)" aria-hidden="true"></i>APA</a>
  <a md-menu-item routerLink="." (click)="setChicagoFormat()"><i class="fa fa-check" *ngIf="(chicagoFormat$ | async)" aria-hidden="true"></i>Chicago/Turabian</a>
  <a md-menu-item routerLink="." (click)="setMLAFormat()"><i class="fa fa-check" *ngIf="(mlaFormat$ | async)" aria-hidden="true"></i>MLA</a>
</md-menu>

<md-menu #searchMenu="mdMenu" yPosition="below" class="nav-menu">
  <form mdForm accept-charset="UTF-8" (submit)="search($event, tagsearch.value)">
    <md-input-container class="tag-search">
      <input mdInput #tagsearch placeholder="Search tags...">
    </md-input-container>
    <button md-raised-button (click)="search($event, tagsearch.value)">Search</button>
  </form>
</md-menu>
-->