footer {
  background-color: #3E3F3A;
  color: white;
  width: 100%; 
  position: fixed; 
  padding: 15px 0; 
  bottom: 0;
  font-size: 9px;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}
