 <div class="modal" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
                <div class="delete-button-row">
                    <button type="button" class="btn btn-warning format-button" id="yesDelete">Yes</button>
                    <button type="button" class="btn btn-secondary format-button" id="noDelete">No</button>
                </div>
            </div>
        </div>
    </div>
</div>