<div>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-new-buttons *ngIf="mode=='add'" (typeChanged)="changeType($event)"></app-new-buttons>
    <form
      (ngSubmit)="onSubmit(form)"
      [formGroup]="form"
      role="form"
      accept-charset="UTF-8"
    >
      <app-article *ngIf="type=='article'" formGroupName="article" (close)="bsModalRef.hide()"></app-article>
      <app-book *ngIf="type=='book'" formGroupName="book" (close)="bsModalRef.hide()"></app-book>
      <app-website *ngIf="type=='website'" formGroupName="website" (close)="bsModalRef.hide()"></app-website>
      <div *ngIf="type" class="form-group">
        <label for="tags">Tags</label>
        <input
          formControlName="tags"
          class="form-control"
          type="text"
          id="tags"
          name="tags"
          placeholder="Separate by commas"
          #tags
        >
      </div>
      <div *ngIf="type" class="form-group">
        <label for="notes">Notes</label>
        <textarea
          formControlName="notes"
          class="form-control"
          type="text"
          id="notes"
          name="notes"
          rows="3"
          #notes>
        </textarea>
      </div>
      <div *ngIf="type" class="form-group submit submit-row">
        <button *ngIf="mode=='add'" type="submit" class="btn btn-warning new-button" name="submitNew">Add</button>
        <button *ngIf="mode=='edit'" type="submit" class="btn btn-warning new-button" name="edit">Save</button>
      </div>
    </form>
  </div>
</div>
