<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h3>New Reference</h3>
      <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-new-buttons (typeChanged)="changeType($event)"></app-new-buttons>
      <app-article *ngIf="type=='article'" (close)="bsModalRef.hide()"></app-article>
      <app-book *ngIf="type=='book'" (close)="bsModalRef.hide()"></app-book>
      <app-website *ngIf="type=='website'" (close)="bsModalRef.hide()"></app-website>
    </div>
  </div>
</div>
