<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      {{ type }}
      <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-new-buttons (typeChanged)="changeType($event)"></app-new-buttons>
      <app-article *ngIf="type=='article'"></app-article>
      <app-book *ngIf="type=='book'"></app-book>
      <app-website *ngIf="type=='website'"></app-website>
    </div>
  </div>
</div>
