<!-- Format -->
<ul class="nav navbar-nav navbar-right logged-in">
  <li class="dropdown" title="Select Format">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Format <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li id="APA"><a href="#" (click)="setAPAFormat()"><i class="fa fa-check" *ngIf="(apaFormat$ | async)" aria-hidden="true"></i>APA</a></li>
      <li id="Chicago"><a href="#" (click)="setChicagoFormat()"><i class="fa fa-check" *ngIf="(chicagoFormat$ | async)" aria-hidden="true"></i>Chicago/Turabian</a></li>
      <li id="MLA"><a href="#" (click)="setMLAFormat()"><i class="fa fa-check" *ngIf="(mlaFormat$ | async)" aria-hidden="true"></i>MLA</a></li>
    </ul>
  </li>
</ul>
<!-- Copy -->
<ul class="navbar-form navbar-right logged-in">
  <button type="button" class="btn btn-warning" id="copy" title="Copy to Clipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button> 
</ul>
<!-- Search -->
<form class="navbar-form navbar-right logged-in" role="search" id="nav-search">
  <div class="form-group">
          <input type="text" class="form-control" id="tag-search" placeholder="Tag Search" title="Tag Search">
  </div>
  <button type="submit" class="btn btn-secondary" id="tag-search-btn" title="Search Tags"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
<!-- New -->
<ul class="navbar-form navbar-right logged-in">
  <button type="button" class="btn btn-success" id="newRef" title="Add New Reference"><i class="fa fa-plus" aria-hidden="true"></i></button> 
</ul>