a, a:visited, a:focus {
  color: #98978b
}

@media (max-width: 800px) {
  a {
    display: block;
    text-align: center;
  }
  li {
    background-color: white;
  }
}

.format-selector {
  max-width: 200px;
}

.dropdown-toggle {
  background-color: #3E3F3A !important;
  text-decoration: none;
}