.ref {
  line-height: 20px;
  max-width: 768px;
  margin: 0 auto;
}

.ref-label {
  float: left;
  margin-top: 3px;
  width: 60px;
}

.list-group .ref-label {
  float: left;
  width: 55px;
}

.ref-edit, .ref-del {
  width: 30px;
  float: right;
  text-align: center;
  line-height: 14px;
  margin-top: 2px;
}

.ref-text {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-left: 10px;
}