<div class="ref" data-id="${reference.data._id}">
  <div
    class="label ref-label"
    [ngClass]="{
        'label-primary': reference.data.type === 'article',
        'label-danger': reference.data.type === 'book',
        'label-success': reference.data.type === 'website'
      }"
  >{{reference.data.type.toUpperCase()}}</div>
  <div class="ref-del" (click)="openDeleteModal(deleteConfirm)"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
  <div class="ref-edit" (click)="openEditModal()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
  <div class="ref-text" [innerHTML]="reference.html"></div>
</div>

<ng-template #deleteConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button class="btn btn-danger" (click)="deleteRef()">Yes</button>
    <button class="btn btn-success" (click)="closeModal()">No</button>
  </div>
</ng-template>